body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("img0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 450px;
    margin: 0 auto;
    padding: 150px;
    background-color:whitesmoke;
    border-radius: 15px;
    box-shadow: 10 10 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}

.toggle-button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
